ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style for the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4A5568;
  color: white;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: left;
  flex: 1; /* Push the heading to the left */
}

nav ul {
  display: flex;
  justify-content: flex-end; /* Push the navigation links to the right */
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #6b7280;
}

nav a:hover {
  color: #5A67D8;
}
/* Style for the Hero Overview section */
.overview-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.overview-hero-image img {
  width: 50%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
}

.overview-hero-text {
  width: 45%;
  text-align: left;
}

/* Style for the "Learn About" section */
.learn-about .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px; /* Set a fixed height for the image containers */
  object-fit: cover; /* This property ensures the images occupy the same space */
}

.card h3 {
  color: #48BB78;
  font-size: 21px;
}
/* Style for the COVID-19 Testing Programme section */
.testing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4A5568;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.testing .cta {
  text-align: right;
}

.testing .btn {
  background-color: #48BB78;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Style for the Recent Stories section */
.stories article {
  display: flex;
  margin: 20px 0;
}

.stories article img {
  border-radius: 50%;
  width: 150px;
}

.article-body {
  flex: 1;
  margin-left: 20px;
}

.article-body h3 {
  color: #5A67D8;
  font-size: 18px;
}

/* Style for the Newsletter section */
.newsletter {
  text-align: center;
  background-color: #48BB78;
  color: white;
  padding: 20px;
}

.newsletter .form-group {
  display: inline-block;
}

.newsletter input[type="email"],
.newsletter button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  background-color: #5A67D8;
  color: white;
}

/* Style for the Footer section */
footer {
  background-color: #4A5568;
  color: white;
  text-align: center;
  padding: 10px 0;
}